@using BeGorgeous.Common

@await Component.InvokeAsync("CategoriesSimpleList");
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
                <small class="text-white"><a class="text-white" href="">@GlobalConstants.SystemName</a> everywhere, every day! <br>© All Rights Reserved</small>
            </div>

            <div class="col-md-4 align-self-center">
                <ul class="list-inline text-center text-md-right mb-0">
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                        <a class="text-white" target="_blank" href="https://www.facebook.com">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                        <a class="text-white" target="_blank" href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                        <a class="text-white" target="_blank" href="https://twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="GitHub">
                        <div class="footer_phone ml-lg-auto">
                            <a class="text-white" target="_blank" href="https://github.com/dinikolaeva/BeGorgeous">
                                <i class="fab fa-github" aria-hidden="true"></i>
                                <span> Open Source System</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>