<li class="menu_item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Salons" asp-action="Index">Salons</a></li>
<li class="menu_item">
    <a asp-area="" asp-controller="Appointments" asp-action="Index"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments</a>
</li>