@{
    this.ViewData["Title"] = "Unavailable Salon/Service";
}

<div class="container">
<h3 id="text" style="text-align: center">Sorry, no such salon/beauty treatment available.</h3>

<div class="row" id="errorH">
    <div class="col-lg-4 ml-lg-5">
        <div class="button button-large button_1 elements_button mt-4" id="errorH">
            <a asp-area="" asp-controller="Salons" asp-action="Index">
                <span>Find Another</span>
                <span>Find Another</span>
            </a>
        </div>
    </div>
</div>
</div>