@using BeGorgeous.Web.ViewModels.Cities
@model CitiesListViewModel

<ul class="dropdown-menu" id="dropdown" role="menu" aria-labelledby="dropdownMenuButton">
    @foreach (var city in @Model.Cities)
    {
        <li><a class="dropdown-item" asp-area="" asp-controller="Cities" asp-action="Index" asp-route-cityId="@city.Id">@city.Name</a></li>
    }
</ul>