<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <h1 class="my-3" id="title"><strong id="text">Salon Manager</strong></h1>
    <div class="list-group list-group-flush">
    </div>
    <div>
        @await Component.InvokeAsync("MangeSalonsDashboard")
    </div>

</div>