@*<header class="header" id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" id="mainNav">
    <div class="container logo">
    <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Be<span>Gorgeous</span></a>

    <partial name="_LoginPartial" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ti-menu"></span>
    </button>
    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
    </nav>
    </header>*@

<header class="header" id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" id="mainNav">
        <div class="container logo">
            <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index">Be<span>Gorgeous</span></a>

            <partial name="_LoginPartial" />

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
        </div>
    </nav>
</header>
@*<header class="header" id="header">
    <div>
    <div class="header_top">
    <div class="container">
    <div class="row">
    <div class="col">
    <div class="header_top_content d-flex flex-row align-items-center justify-content-start">
    <div class="container logo">
    <a asp-area="" asp-controller="Home" asp-action="Index"><span>Be</span>Gorgeous</a>
    </div>
    <div class="header_top_extra d-flex flex-row align-items-center justify-content-start ml-auto">
    <div class="header_top_nav">
    <ul class="d-flex flex-row align-items-center justify-content-start">
    <partial name="_LoginPartial" />
    </ul>
    </div>
    </div>
    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>*@
