@using BeGorgeous.Web.ViewModels.Cities
@model CitiesListViewModel
@{
    this.ViewData["Title"] = "Cities";
}

<partial name="_HeaderPartial" />

<section>
    <div class="row">
        @foreach (var city in Model.Cities)
        {
            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
                <div class="d-block mb-4">
                    <img src="assets/img/intro/city.png" width="250" class="pr-4" alt="">
                </div>
                <h4 class="h5">@city.Name</h4>
                <div class="row">
                    <div class="col">
                        <button class="button">
                            <a asp-area="" asp-controller="Ciries" asp-action="Index" asp-route-sortId="@city.Id"><span>View salons</span></a>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>