@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <h1 id="text">@ViewData["Title"]</h1>
    <p class="lead text-muted">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
