/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#mainNav {
    display: flex !important;
    flex-direction: column !important;
}

#navbarResponsive {
    padding: 6px;
    background-color: #f150bf;
}

@media all and (min-width: 992px) {
    #navbarResponsive {
        display: flex !important;
        justify-content: center !important;
    }
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #700a58;
    font-size: 0.937rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}

/*
.navbar .navbar-nav .nav-item .nav-link.active {
    background: #552882 !important;
    border-radius: 50px;
}
*/
.header {
    padding: 0 0 100px;
}

.navbar-expand-lg .navbar-nav {
    align-items: center;
}

.carousel-indicators li {
    height: 7px;
    border-radius: 0;
    overflow: hidden;
    width: 52px;
    background: #f150bf;
    padding: 0;
    margin: 0 2px;
    border: 0 solid #333;
}

.center-block {
    display: table;
    margin: 0 auto;
    background-color: #a000a0;
    padding: 16px 32px;
    text-align: center;
    font-size: 35px;
    border-radius: 50%;
    color: white;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}


a {
    color: white !important;
    text-decoration: none !important;
    background-color: transparent;
}

/*Buttons*/

.button:hover {
    opacity: 1
}

.button {
    margin-top: 25px;
    width: 137px;
    height: 54px;
    background: #BA55D3;
    overflow: hidden;
}

.button-large {
    width: 254px !important;
    height: 54px;
    background: #BA55D3;
    overflow: hidden;
}

.button a {
    background-color: #a000a0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

    .button a span {
        font-size: 11px;
        font-weight: 500;
        color: #FFFFFF;
        background-color: #a000a0;
        line-height: 54px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        white-space: nowrap;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }

        .button a span:first-child {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .button a span:last-child {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 100%;
            font-size: 9px;
            opacity: 0;
        }

.button:hover a span:first-child {
    top: -10%;
    font-size: 9px;
    opacity: 0;
}

.button:hover a span:last-child {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 11px;
    opacity: 1;
}

.button_2 {
    background: #404040;
}

    .button_2 a span {
        color: #FFFFFF;
    }

.button_3 {
    background: transparent;
    border: solid 2px #BA55D3;
}

    .button_3 a span {
        color: #404040;
    }

#logo {
    max-width: 100%;
    height: auto;
    width: auto;
}

.footer_content {
    padding-bottom: 100px;
}

.footer_contact {
    padding-top: 35px;
}

.footer_contact_title {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer_contact_form_container {
    margin-top: 43px;
}

.footer_contact_form div input {
    width: calc((100% - 12px) / 2);
}

.footer_contact_input {
    width: 100%;
    height: 47px;
    background: #6a6d72;
    border: none;
    outline: none;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: 500;
}

    .footer_contact_input::-webkit-input-placeholder {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #FFFFFF !important;
    }

    .footer_contact_input:-moz-placeholder {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #FFFFFF !important;
    }

    .footer_contact_input::-moz-placeholder {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #FFFFFF !important;
    }

    .footer_contact_input:-ms-input-placeholder {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-style: italic;
        color: #FFFFFF !important;
    }

.footer_contact_input {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #FFFFFF !important;
}

.footer_contact_textarea {
    height: 98px;
    padding-top: 15px;
}

.footer_contact_button {
    width: 275px;
    height: 54px;
    background: #BA55D3;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: -5px;
}

.footer_hours {
    background: rgba(22,22,23,0.61);
    padding-left: 27px;
    padding-top: 35px;
    padding-bottom: 60px;
    padding-right: 30px;
}

.footer_hours_title {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.hours_list {
    margin-top: 47px;
}

    .hours_list li div {
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .hours_list li:not(:last-child) {
        margin-bottom: 27px;
    }

.footer_bar {
    width: 100%;
    background: rgba(18,17,17,0.66);
}

.footer_bar_content {
    width: 100%;
    height: 51px;
}

.footer_nav ul li:not(:last-child) {
    margin-right: 64px;
}

.footer_nav ul li a {
    font-size: 11px;
    font-weight: 500;
    color: #a0a1a1;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .footer_nav ul li a:hover {
        color: #BA55D3;
    }

.footer_links {
    margin-left: 84px;
}

    .footer_links ul li {
        position: relative;
    }

        .footer_links ul li:not(:last-child)::after {
            content: '|';
            margin-left: 9px;
            margin-right: 9px;
        }

        .footer_links ul li a {
            font-size: 11px;
            font-weight: 500;
            color: #a0a1a1;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .footer_links ul li a:hover {
                color: #BA55D3;
            }

.footer_phone span {
    font-size: 14px;
    font-weight: 600;
    color: #BA55D3;
}

.footer_phone i {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #BA55D3;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    width: 100%;
    height: 100%;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
    }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

    .owl-carousel.owl-rtl .owl-item {
        float: right;
    }

/*********************************
9. Departments
*********************************/

.departments {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
}

.dept_row {
    margin-top: 100px;
}

.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.dept_slider_container {
    overflow: hidden;
    width: calc(100% + 60px);
    left: -30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.dept_item {
    background: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .dept_item:hover {
        box-shadow: 0px 20px 46px rgba(0,0,0,0.1);
        background: #f4f8fb;
    }

.dept_image::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0,0,0,0);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.dept_item:hover .dept_image::after {
    background: rgba(0,0,0,0.49);
}

.dept_content {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 23px;
}

    .dept_content::after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #BA55D3;
        content: '';
    }

.dept_title {
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #711571;
}

.dept_link {
    margin-top: 4px;
}

    .dept_link a {
        font-size: 12px;
        font-weight: 500;
        color: #a000a0 !important;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .dept_link a:hover {
            color: #BA55D3;
        }

.dept_slider_nav {
    position: absolute;
    top: calc(50% - 25px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -106px;
    width: 42px;
    height: 42px;
    background: #a000a0;
    text-align: center;
    cursor: pointer;
}

    .dept_slider_nav i {
        font-size: 16px;
        color: #FFFFFF;
        line-height: 42px;
    }
/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
}

    .owl-carousel .owl-video-play-icon:hover {
        -ms-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
    display: none;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

    .owl-carousel .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        width: 100%;
        height: 100%;
        -moz-backface-visibility: hidden;
        /* fix firefox animation glitch */
    }

        .owl-carousel .owl-stage:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        /* fix for flashing background */
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
    }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        width: 100%;
        height: 100%;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

        .owl-carousel .owl-item img {
            display: block;
            width: 100%;
        }

    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: none;
    }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-carousel.owl-loaded {
        display: block;
    }

    .owl-carousel.owl-loading {
        opacity: 0;
        display: block;
    }

    .owl-carousel.owl-hidden {
        opacity: 0;
    }

    .owl-carousel.owl-refresh .owl-item {
        visibility: hidden;
    }

    .owl-carousel.owl-drag .owl-item {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .owl-carousel.owl-grab {
        cursor: move;
        cursor: grab;
    }

    .owl-carousel.owl-rtl {
        direction: rtl;
    }

        .owl-carousel.owl-rtl .owl-item {
            float: right;
        }

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
}

    .owl-carousel .owl-video-play-icon:hover {
        -ms-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}