@using BeGorgeous.Web.ViewModels.Treatments
@model SalonsTreatmentsViewModel

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Salon</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.Salon.Name</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <div class="form-control">
            @Model.Salon.StreetAddress
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Treatment</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.Treatment.Name</div>
    </div>
</div>
