@using BeGorgeous.Web.ViewModels.Appointments
@model AppointmentSalonViewModel

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Salon</label>
    <div class="col-sm-10">
        <div class="form-control">@Model.Name</div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <div class="form-control">
            @Model.City.Name, @Model.StreetAddress
        </div>
    </div>
</div>
@*<div class="form-group row">
    <label class="col-sm-2 col-form-label">Treatment</label>
    <div class="col-sm-10">
        <div class="form-control">
            <a class="dropdown-toggle text-black-50 js-scroll-trigger" id="dropdownMenuButton" data-toggle="dropdown" role="button" aria-expanded="false">
                @await Component.InvokeAsync("TreatmentsDetailsList", new { Model.Id})
            </a>
        </div>
    </div>
</div>*@
