<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <h1 class="my-3" id="title"><strong id="text">Admin</strong></h1>
    <div class="list-group list-group-flush">

        <a asp-area="Administration" asp-controller="Countries" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Countries</a>

        <a asp-area="Administration" asp-controller="Cities" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Cities</a>

        <a asp-area="Administration" asp-controller="Salons" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Salons</a>        
        
        <a asp-area="Administration" asp-controller="Categories" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Categories</a>

        <a asp-area="Administration" asp-controller="Treatments" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Treatments</a>

        <a asp-area="Administration" asp-controller="Appointments" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Appointments</a>

    </div>
</div>