@using BeGorgeous.Web.ViewModels.Treatments
@model TreatmentsListViewModel
@{
    this.ViewData["Title"] = "Treatments";
}

<partial name="_HeaderPartial" />

<section class="bg-light wt-section" id="team">
    <div class="container">
        <div class="row justify-content-md-center text-center mb-lg-5 mb-4 pb-lg-5">
            <div class="col-md-12">
                <h2 class="h1">Our Treatments</h2>
                <p>It’s the BeGorgeous’s goal to help you Be More Beautiful from the minute you leave us until you join us next time.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
              <div class="d-block mb-4">
            @foreach (var treatment in @Model.Treatments)
            {
                <div class="col-lg-4 col-sm-5 mb-4">
                    <figure data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
                        <img class="w-100 rounded-top" src="@treatment.IconUrl" alt="Image Description">
                        <div class="wt-box-shadow-sm bg-white text-center rounded p-4">
                            <div class="mb-3">
                                <h5 class="mb-1">@treatment.Name</h5>
                                @*TODO: sort treatments in service and fix view!!!*@
                            </div>
                        </div>
                    </figure>
                </div>
            }
        </div>       
        </div>
    </div>
</section>
